{% extends 'main/loaut.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Добавление нового поста</h1>
      </div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form.title }}
    {{ form.Anons }}
    <br>
    {{ form.image }}<br><br>
    <button class="btn btn-primary" type="submit">Добавить новый пост</button>
</form>
</main>
{% endblock content %}

